/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

address {
  font-style: normal;
}

button,
a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p:last-child,
li:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* BASE */

body {
  font-family: var(--font-manrope), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  color: #101828;
  background-color: #ffffff;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 120px;
}
