.dropdown {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: #8d929a;
}

.trigger {
  /* width: 100%; */
  border-radius: 12px;
  padding: 12px 16px;
  max-width: 204px;
  height: 44px;
  border: none;
  background-color: #f7f7f7;

  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #121417;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.2s ease;
}

.trigger:hover:not(:disabled) {
  background-color: #e8e8e8;
}

.trigger:focus-visible {
  outline: 2px solid #3470ff;
  outline-offset: -2px;
}

.trigger:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.placeholder {
  color: #101828;
}

.chevron {
  width: 16px;
  height: 16px;
  pointer-events: none;
  transition: transform 0.2s ease;
  flex-shrink: 0;
  color: #121417;
}

.chevron use {
  fill: currentColor;
}

.chevronOpen {
  transform: rotate(180deg);
}

.list {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  overflow-y: auto;
  border-radius: 12px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  background-color: #ffffff;
  z-index: 10;
  padding: 12px 0;
  border: 1px solid #f7f7f7;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background: transparent;
  margin: 12px 0;
}

.list::-webkit-scrollbar-thumb {
  background-color: #dadde1;
  border-radius: 10px;
  min-height: 20px;
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: #dadde1;
}

.option {
  padding: 8px 18px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: #8d929a;
  display: flex;
  justify-content: space-between;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.option:hover,
.optionActive {
  color: #101828;
}

.optionSelected {
  font-weight: 700;
  color: #101828;
}
